.background{
    background-color: #FFDB58;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
    display:block;
    text-align: right;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}
.link::after{
    color: blueviolet;
}

@import url(_index.scss);